---
layout: page
description: 
---
<!--<center><img src="{{ site.baseurl }}/img/Seattle_Lung_Project_small.png" width="300px"/></center>-->
<div style="background-color:#aaaaaa; height:3px"></div>

<center>
    
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="../img/MulliganLabPhoto1.png" alt="Lung Exo-Immunology">
            </div>
            <div class="card-content" style="background-color:#888888">
                <h4>Lung Exo-Immunology</h4>
                <p>description</p>
                <div class = "card-button">
                    <button onClick = "select(2)">Navigate</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../img/MulliganLabPhoto1.png" alt="Cardiac Exo-Immunology">
            </div>
            <div class="card-content" style="background-color:#888888">
                <h4>Cardiac Exo-Immunology</h4>
                <p>description</p>
                <div class = "card-button">
                    <button onClick = "select(2)">Navigate</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../img/MulliganLabPhoto1.png" alt="ImmunoEngineering">
            </div>
            <div class="card-content" style="background-color:#888888">
        <h4 style="font-size: 0.9em;">ImmunoEngineering</h4>
                <p>description</p>
                <div class = "card-button">
                    <button onClick = "select(2)">Navigate</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../img/MulliganLabPhoto1.png" alt="Clinical Research">
            </div>
            <div class="card-content" style="background-color:#888888">
                <h4>Clinical Research</h4>
                <p>description</p>
                <div class = "card-button">
                    <button onClick = "select(2)">Navigate</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../img/MulliganLabPhoto1.png" alt="topic 1">
            </div>
            <div class="card-content" style="background-color:#888888">
                <h4>CT Translational CORE</h4>
                <p>description</p>
                <div class = "card-button">
                    <button onClick = "select(2)">Navigate</button>
                </div>
            </div>
        </div>
    </div>
</center>
<div style="background-color:#aaaaaa; height:3px"></div>

<div class = "mission-card">
    <div class = "mission-image"></div>
    <div class = "mission-text">
        <h1>Our Mission</h1>
        <p>Our multidisciplinary research team aims to merge both basic and clinical research to improve care and outcomes for patients with pulmonary diseases. We are focused on understanding mechanisms and developing new prevention or treatment strategies in pulmonary diseases by combining basic science with translational research.</p>

        <p>New directions for our research include identification of biomarkers for NSCLC, understanding the pathophysiology of bronchiolitis obliterans and developing potential treatment strategies, and understanding mechanisms that drive lung transplant tolerance and rejection.</p>

        <p>Over the coming weeks, this site will be updated as new information is obtained. Thank you for understanding as we work on our website.<p>
    </div>
</div>

<div style="background-color:#aaaaaa; height:3px"></div>


<style>

    .mission-card {
        width: 100%;
        height:fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
    }

    .mission-image {
        width: 100%;
        min-height: 730px;
        height:auto;
        background-size: cover;
        background-image: url("../img/MulliganLabPhoto1.png");
    }

    .mission-text {
        position: absolute;
        right: 15%;
        width: 40%;
        height: 730px;
        background-color: rgba(255,255,255,0.7);
        overflow:auto;
        word-wrap: break-word;
        overflow-y: auto;
    }

    .mission-text h1 {
        padding-left: 15px;
    }

    .mission-text p {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 650px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .card {
        border: none;
        border-radius: 2px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 225px;
        font-family: Arial, sans-serif;
    }

    .card-image img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .card-content {
        padding: 20px;
        background-color: #333333;
        color: white;
        text-align: center;
        height: 300px;
        position: relative;
    }

    .card-content h4 {
        margin: 0 0 16px;
        font-size: 1.2em;
    }

    .card-content p {
        margin: 0 0 16px;
    }

    .card-button {
        position: absolute;
        bottom: 25px;
        left: 0px;
        right: 0px;
    }

    .card-button button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 1px;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        text-transform: uppercase;
        transition: background-color .2s, color .2s;
    }

    .card-button button:hover {
        background-color: white;
        color: #333333;
    }
</style>
<!-- Code to post blog posts on the main page -->

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<!-- End - Code to post blog posts on the main page -->